.container-wel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .main-wel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    margin-top: 3rem;

    .left-wel{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      margin-left: 0;
      width: 50%;

      span:nth-child(1) {
        font-size: 5rem;
        color: #005f6a;
        font-weight: bold;
      }

      span:nth-child(2) {
        font-size: 4rem;
        color: #54949b;
        font-weight: bold;
        margin: 0.5rem 0;
      }

      span:nth-child(3),
      span:nth-child(4) {
        margin: 0.25rem 0;
        font-size: 1.3rem;
      }
    }

    .right-wel {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 50%;

      img {
        object-fit: contain;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;

      .left-wel {
        margin: 0;
        margin-left: 1rem;
        width: 100%;

        span:nth-child(1) {
          font-size: 3rem;
        }

        span:nth-child(2) {
          font-size: 2.5rem;
          margin: 0.3rem 0;
        }

        span:nth-child(3),
        span:nth-child(4) {
          font-size: 1rem;
        }

        order: 1;
      }

      .right-wel {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  .gallery {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;

    .images {
      width: 100%;
      display: flex;
      flex-direction: column;

      .row-1 {
        padding: 0.5rem 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .row-1-left {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 1rem 0.5rem 0;
          width: 46.5%;

          img {
            width: 100%;
          }
        }

        .row-1-right {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 1rem 0 0 0.5rem;
          width: 53.5%;

          img {
            width: 49%;
          }
        }
      }

      .row-2 {
        padding: 0.5rem 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .row-2-left,
        .row-2-right,
        .row-2-center {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }

        .row-2-center {
          width: 58%;

          img {
            padding: 0 1rem;
            width: 95.5%;
          }
        }

        .row-2-left,
        .row-2-right {
          width: 21%;

          img {
            width: 100%;
          }
        }
      }

      @media (max-width: 768px) {
        .row-1 {
          flex-direction: column;

          .row-1-left {
            width: 100%;

            img {
              width: 100%;
            }
          }

          .row-1-right {
            width: 100%;

            img {
              width: 49%;
            }
          }
        }

        .row-2 {
          flex-direction: column;

          .row-2-center {
            width: 100%;
            margin-top: 1rem;

            img {
              width: 100%;
            }
          }

          .row-2-top {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .row-2-left,
            .row-2-right {
              width: 50%;

              img {
                width: 90%;
              }
            }
          }
        }
      }
    }
  }

  .gallery-info {
    p {
      font-size: 1.3rem;
    }
  }
}

.team {
  width: 80%;
  margin-bottom: 3rem;
  font-size: 3rem;
  color: #005f6a;
  font-weight: bold;

  .team-gallery {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .team-row-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 50%;
    }

    .team-row-2 {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      img:nth-child(2) {
        margin-right: 13%;
      }


    }

    img {
      width: 40%;
    }
  }

  @media (max-width: 768px) {
    .team-gallery {
      .team-row-1,
      .team-row-2 {
        width: 100%;
      }

      flex-direction: column;
      align-items: center;

      img:nth-child(2) {
        margin-right: 13%;
      }

      img {
        width: 50%;
        margin: 0.5rem;
      }
    }
  }
}


