.custom-button {
    padding: 16px 32px;
    background: linear-gradient(to right, #005F6A, #54949B);
    border-radius: 12px;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.custom-button span{
    margin-left: 10px;
}